span{
    text-decoration-line: underline;
}

.font{
    font-family: "UD Digi Kyokasho N-B";
}

body{
    background-color: aquamarine;
    width: 800px;
    margin: 0 auto;
    padding:50px;
}

nav{
    width: 100%;
    height: 50px;
    position: fixed;
    top:0;
    left: 0;
    background-color: lightpink;
    
}

nav ul{
    display: flex;
    justify-content: center;
}
 nav li{
     display: inline;
     border: 2px solid black;
     margin-left: 20px;
     padding: 0 10px;
     border-radius: 10%;
 }



#clear{
    width: 200px;
    height: 30px;
    background-color: yellow;
    color: red;
    position:fixed;
    top:100px;
    right:50px;

}

#check1, #check2{
    margin-top: 30px;
    border-radius: 5px;
    background-color: blue;
    color: white;
}


@media screen and (max-width:580px){

    nav{
        display: none;
    }

    .font{
        font-size: 15px;
    }

    body{
        width: 480px;
    }

    #clear{
        width: 100px;
        position: fixed;
        top: 320px;
        right: 0;
        font-size: 10px;
    }

    input{
        display: block;
        margin-top: 20px;
        
    }


}
